<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="virsion2LibrarySys.Properties.Settings.databaseprConnectionString"
            connectionString="Data Source=DESKTOP-F6LKGA9\MSSQLSERVER01;Initial Catalog=databasepr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>